
@font-face {
    font-family: 'ralewayblack';
    src: url('../font/raleway-black-webfont.eot');
    src: url('../font/raleway-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/raleway-black-webfont.woff2') format('woff2'),
         url('../font/raleway-black-webfont.woff') format('woff'),
         url('../font/raleway-black-webfont.svg#ralewayblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../font/raleway-bold-webfont.eot');
    src: url('../font/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/raleway-bold-webfont.woff2') format('woff2'),
         url('../font/raleway-bold-webfont.woff') format('woff'),
         url('../font/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ralewayregular';
    src: url('../font/raleway-regular-webfont.eot');
    src: url('../font/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/raleway-regular-webfont.woff2') format('woff2'),
         url('../font/raleway-regular-webfont.woff') format('woff'),
         url('../font/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'ralewayregular';
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.container_wrap {
    width: 100%;
    height: 390px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(189,189,189,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(189,189,189,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(189,189,189,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(189,189,189,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(189,189,189,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(189,189,189,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bdbdbd', GradientType=0 );
}

.container {
    width: 960px;
    margin: 0 auto;
    clear: both;
}

.container_nav {
    background-color: black;
    height: 30px;
    color: white;
    clear: both;
    line-height: 0;
}

nav p {
    float: left;
}

.color {
    color: #27C7AB;
    font-weight: bold;
}

/*navigation*/
.navigation {
    float: right;
}

.main {
    display: inline-block;
    margin-left: 10px;
}

.ofirmie {
 /*   display: none; */
    position: absolute;
    right: 612px;
    top: 15px;
} 

.main .ofirmie:hover div.ofirmie {
    display: block;
} 

.ofirmie::before {
    position: relative;
    left: 93px;
    margin-top: 15px;
    text-align: center;
    content: "";
    display: block;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid black;
}

.ofirmie ul li {
    font-size: 14px;
    display: block;
    width: 100px;
    height: auto;
    background-color: black;
    line-height: 10px;
    padding: 10px;
}

.bigpicture img {
    float: left;
}

.arrow {
    font-weight: 100;
    color: #27C7AB;
    font-size: 90px;
    position: relative;
    z-index: 100;
}

.arrowLeft {
    float: left;
    top: 100px;
}

.arrowRight {
    float: right;
    top: -157px;
}

.txtheader {
    color: black;
    padding-top: 30px;
    text-align: center;
    width: 818px;
}

.txtheader h1 {
    text-transform: uppercase;
    text-align: center;
}
.txtheader p {
    padding-bottom: 20px;
}

.button {
    background-color: #27C7AB;
    display: inline;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 50px;
    color: white;
    text-transform: uppercase;
    border-radius: 8px;
    width: 250px;
}

/*gallery*/
.gallery div {
    display: inline;
    box-sizing: content-box;
}

.galleryPic {
    position: relative;
    padding: 30px 0;
    width: 300px;
    height: auto;
    margin-right: 27px;
}

/*gallery apla general*/
.galleryApla {
    font-weight: bold;
    font-size: 16px; 
    background-color: rgba(255, 255, 255, 0.5);
    width: 300px;
    padding: 10px 10px 25px 13px;
    position: absolute;
}

/*gallery apla 1*/
.aplaOne {
    transform: translate(0, -118px); 
}

/*gallery apla 2*/
.aplaTwo {
    transform: translate(331px, -118px); 
}

.galleryUnderline {
    width: 142px;
    height: 6px;
    margin-left: 10px;
    background-color: #27C7AB;
    position: absolute;
}

/*gallery line 1*/
.lineOne {
    transform: translate(0, -88px); 
}
/*gallery line 2*/
.lineTwo {
    transform: translate(332px, -88px);
}

.txtgalleryUpper {
    text-transform: uppercase;
}

.gallery .txtgallery3 {
    float: right;
    width: 300px;
    border: 1px solid #C0C0C0;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 10px;
}

/*gallery line 2*/
.lineThree {
    transform: translate(-11px, -37px);
}

/*cennik*/
.container_wrap2 {
    clear: both;
    padding: 20px 0;
    background-color: #F1F1F1;
}

.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}


.leadCennik, .leadKontakt {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 0px;
    padding-top: 1em;
}

.underlineCennik, .underlineKontakt {
    background-color: #27C7AB;
    width: 300px;
    height: 7px;
}

.underlineKontakt {
    margin-bottom: 40px;
}

/*cennik*/
.elementCennik {
    float: left;
}

.elementCennik:not(:last-Child) {
    margin-right: 27px;

}

.ramka {
    text-align: center;
    border: 1px solid #C0C0C0;
    width: 300px;
    height: 420px;
    position: relative;
    margin-top: 50px;
    background-color: #F9F9F9;
}

.standard {
    background-color: #27C7AB;
}

.kolko {
    background-color: #F9F9F9;
    border: 1px solid #C0C0C0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: white;
    position: absolute;
    left: 50%;
    top: 0%; 
    transform: translate(-50%,-50%);
}

.kolkoSzare {
    border: 1px solid #C0C0C0;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #C0C0C0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.kolkoCena {
    color: #C0C0C0;
    background-color: #F9F9F9;
    border: 1px solid #C0C0C0;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background: white;
    left: 50%;
    top: 0%; 
    margin: auto;
    margin-bottom: 20px;
}

.price {
    font-size: 30px;
    font-weight: 900;
    line-height: 0;
}

.priseZl {
    line-height: 0;
    font-size: 12px;
    text-transform: uppercase;
}

.priceSup {
    line-height: 0;
    font-size: 12px;
}

.cennikLead {
    padding-top: 3%;
    text-align: center;
    color: #27C7AB;
    text-transform: uppercase;
}

/*cennik bonus*/
.bonus {
    padding: 7px 0;
    margin: 0;
    font-size: 19px;
    color: grey;
}

.bonus:nth-child(2n + 1) {
    background-color: #E4E4E4;
}

.bonus:nth-child(2n + 0) {
    background-color: #F1F1F1;
}

.elementCennik .bonusStandard {
    background-color: white;
}

.cennikBreakOne {
    margin: 0;
    display: block;
    height: 101px;
}

.cennikBreakTwo {
    margin: 0;
    display: block;
    height: 65px;
}

.cennikBreakThree {
    margin: 0;
    display: block;
    height: 28px;
}

.buttonDolacz{
    text-align: center;
    text-transform: uppercase;
    background-color: #27C7AB;
    font-size: 15px;
    padding: 5px 20px;
    color: white;
    display: inline;
    border-radius: 6px;
}

.buttonstandard {
    background-color: white;

}

.buttonstandard a {
     color: #27C7AB;
}

/*form*/

.form {
    float: left;
    width: 550px;
}

.formKontakt {
    font-family: 'ralewayregular';
    border: 1px solid #5be1ce;
    height: 60px;
    font-size: 24px;
    padding: 10px;
    width: 550px;
    margin-bottom: 20px;
}

.areaKontakt {
    height: 130px;
}

input[type=submit] {
    background-color: #27C7AB;
    border: none;
    color: white;
    border-radius: 6px;
    width: 300px;
    font-weight: bold;
    text-transform: uppercase;
}

textarea {
    resize: none;
}

::-webkit-input-placeholder {
    color: lightgray; /* Chrome, Opera, Safari */
}

::-moz-placeholder {
    color: lightgray; /* Firefox */
}

::-ms-input-placeholder {
    color: lightgray; /* IE 10+ */
}

/*kontakt right side*/
.fotoChair {
    float: right;
    width: 330px;
}

.fotoChairPic {
    padding: 0 30px 18px;
}

input[type=checkbox] {
    display: block;
    float: left;
    clear: both;
    border: 1px solid #27C7AB;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px; 
    background: red;
}

input[type=checkbox]:checked {
    background-image: url();
}

.checkTxt {
    color: lightgray;
    font-size: 18px;
}

.formButton {
    margin-top: 20px;
    width: 200px;
}

/*footer*/
.footerElement {
    padding-top: 40px;
    line-height: 37px;
    float: left;
    color: gray;
}

.txtFooterUpper {
    text-transform: uppercase;
    font-weight: bold;
}

.footerLogo {
    float: right;
}

.footerPic {
    padding-left: 262px;   
}

.footerTxt {
    float:left;
}